.rubriker,a{
    color: rgb(208, 208, 208);
    text-align: center;
    margin: 100px;
    text-decoration: none;
}

a:hover{
    font-size: 120%;
    color: white;
}

body{
    background-color:rgb(69, 69, 69) 
}